<div class="main-content">
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v9.0'
      });
    };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your Chat Plugin code -->
  <div class="fb-customerchat"
    attribution="setup_tool"
    page_id="101455665299154"
logged_in_greeting="Hi! Good Day to you!"
logged_out_greeting="Hi! Good Day to you!">
  </div>
  <div class="container-fluid d-flex flex-column p-0" style="min-height: calc(100vh - 124px)">
      <div class="d-flex">
<div class="col-12 col-lg-6 p-0">
<div class="card min-vh-100 m-0 p-5 pb-4 justify-content-center" style="overflow: hidden; border-radius: 0">
  <div class="mb-4">
      <a class="btn btn-link p-0 ml-n2" href="/">
          <i class="fe fe-chevron-left"></i> Back
</a>            </div>
  <a href="">
<div class="d-flex justify-content-center mb-4" style="overflow: hidden">
<div>
  <img class="mw-100" style="max-height: 100px" src="/assets/deped-core-values-f0c2158fbf7e8c66b1beed63c82e6de78825ee64dc30c87d066513c046256104.png">
</div>
<div>
  <img class="mw-100" style="max-height: 100px" src="/assets/deped-digital-rise-1688c75b90f76401593cb4193eb3234bf00868b9f678c361d7af2cc6ccbf36da.jpg">
</div>
</div>
</a>
  <div class="d-flex flex-wrap justify-content-center align-items-center mb-5">
      <img class="mw-100 mb-1" style="max-height: 50px" src="/assets/deped-commons-icon-90c0c49e05f78021e1e8fe1f2252937be70e4de6b57a0b4c41df4df6b1dbb55e.png">
      <h1 class="mb-1 ml-2" style="color: #1f458b;">Welcome to DepEd Commons</h1>
  </div>
  <div>
      <a class="btn btn-outline-primary btn-block" href="">Login as Student</a>
      <a class="btn btn-outline-primary btn-block" href="">Login as Teacher</a>
      <a class="btn btn-outline-primary btn-block" href="">Login as Uploader</a>
      <a class="btn btn-outline-primary btn-block" href="">Login as Approver</a>
  </div>
  <div class="footer d-flex justify-content-between mt-5">
      <div>
          <a target="_blank" href=""><i class="fe fe-help-circle"></i> User Guide</a>
      </div>
      <div>
          <a target="_blank" href="">Terms of use &amp; Privacy Policy</a>
      </div>
  </div>
</div>
</div>
<div class="d-none d-lg-flex position-relative justify-content-center align-items-center" style="background-color: #eaf0fe">
<img class="mw-100 mh-100" src="/assets/accounts-login-illustration-3fa56118d85eed6807d03ba06e9c779ec36351d31ca2e28a206451a9892de03c.png">
<div class="card position-absolute p-3 m-3" style="background-color: #ffffffe6">
<div>
<p class="font-weight-bold">
To all mobile subscribers of Globe, TM, Smart, Sun and, TNT access to the site using the Globe/TM, Smart/Sun/TnT network will NOT incur data charges.
This service of FREE access is brought to you by DepEd and Globe/Smart in cooperation with DICT and NTC.
</p>
<p class="m-0">
<span class="font-weight-bold">Important note:</span> Links on the DepEd Commons page that require you to access the internet outside the Commons Domain,
is beyond this coverage and may incur standard data charges.
</p>
</div>
</div>
</div>
</div>

  </div>
</div>
<router-outlet></router-outlet>